Repository stolostron/volsync-operator-product-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

volsync-fbc-4-14-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/volsync-tenant/volsync-fbc-4-14:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

volsync-fbc-4-14-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/volsync-tenant/volsync-fbc-4-14:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/ppc64le
    - linux/s390x
    - linux/arm64
  ...

volsync-fbc-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/volsync-tenant/volsync-fbc-4-16:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/ppc64le
    - linux/s390x
    - linux/arm64
  ...

volsync-fbc-4-18-dev-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/volsync-tenant/volsync-fbc-4-18:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

add bundle 0.14.1 (#79)
  catalog-4-14/bundles/bundle-v0.14.1.yaml
  catalog-4-14/channels/channel-stable-0.14.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.14.1.yaml
  catalog-4-15/channels/channel-stable-0.14.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.14.1.yaml
  catalog-4-16/channels/channel-stable-0.14.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.14.1.yaml
  catalog-4-17/channels/channel-stable-0.14.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.14.1.yaml
  catalog-4-18/channels/channel-stable-0.14.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.14.1.yaml
  catalog-4-19/channels/channel-stable-0.14.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.14.1.yaml
  catalog-4-20/channels/channel-stable-0.14.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.14.1.yaml
  catalog-4-21/channels/channel-stable-0.14.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

add bundle 0.14.1 (#79) (#81)
  catalog-4-14/bundles/bundle-v0.14.1.yaml
  catalog-4-14/channels/channel-stable-0.14.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.14.1.yaml
  catalog-4-15/channels/channel-stable-0.14.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.14.1.yaml
  catalog-4-16/channels/channel-stable-0.14.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.14.1.yaml
  catalog-4-17/channels/channel-stable-0.14.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.14.1.yaml
  catalog-4-18/channels/channel-stable-0.14.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.14.1.yaml
  catalog-4-19/channels/channel-stable-0.14.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.14.1.yaml
  catalog-4-20/channels/channel-stable-0.14.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.14.1.yaml
  catalog-4-21/channels/channel-stable-0.14.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Retrigger fbc build
  catalog.Dockerfile
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Add 0.15 volsync bundle and fbc 4.22
  catalog-4-14/bundles/bundle-v0.15.0.yaml
  catalog-4-14/channels/channel-stable-0.15.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.15.0.yaml
  catalog-4-15/channels/channel-stable-0.15.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.15.0.yaml
  catalog-4-16/channels/channel-stable-0.15.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.15.0.yaml
  catalog-4-17/channels/channel-stable-0.15.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.15.0.yaml
  catalog-4-18/channels/channel-stable-0.15.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.15.0.yaml
  catalog-4-19/channels/channel-stable-0.15.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.15.0.yaml
  catalog-4-20/channels/channel-stable-0.15.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.15.0.yaml
  catalog-4-21/channels/channel-stable-0.15.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.15.0.yaml
  catalog-4-22/channels/channel-stable-0.15.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-22/package.yaml
  catalog-template.yaml
  drop-versions.json
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Add bundle v0.15 stage rc 0
  catalog-4-14/bundles/bundle-v0.15.0.yaml
  catalog-4-14/channels/channel-stable-0.15.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.15.0.yaml
  catalog-4-15/channels/channel-stable-0.15.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.15.0.yaml
  catalog-4-16/channels/channel-stable-0.15.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.15.0.yaml
  catalog-4-17/channels/channel-stable-0.15.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.15.0.yaml
  catalog-4-18/channels/channel-stable-0.15.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.15.0.yaml
  catalog-4-19/channels/channel-stable-0.15.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.15.0.yaml
  catalog-4-20/channels/channel-stable-0.15.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.15.0.yaml
  catalog-4-21/channels/channel-stable-0.15.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.15.0.yaml
  catalog-4-22/channels/channel-stable-0.15.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-22/package.yaml
  catalog-template.yaml
  drop-versions.json
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Update imgmirrorset for 0-15
  .tekton/images-mirror-set.yaml
Due: none

Update imgmirrorset for 0-15 (#88)
  .tekton/images-mirror-set.yaml
Due: none

FBC updates for v0.13.2
  catalog-4-14/bundles/bundle-v0.13.2.yaml
  catalog-4-14/channels/channel-stable-0.13.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.13.2.yaml
  catalog-4-15/channels/channel-stable-0.13.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.13.2.yaml
  catalog-4-16/channels/channel-stable-0.13.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.13.2.yaml
  catalog-4-17/channels/channel-stable-0.13.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.13.2.yaml
  catalog-4-18/channels/channel-stable-0.13.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.13.2.yaml
  catalog-4-19/channels/channel-stable-0.13.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.13.2.yaml
  catalog-4-20/channels/channel-stable-0.13.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Revert "Revert main last commit and add bundle v0.13.2 ( rc4 ) (#91)"
  catalog-4-14/bundles/bundle-v0.13.2.yaml
  catalog-4-15/bundles/bundle-v0.13.2.yaml
  catalog-4-16/bundles/bundle-v0.13.2.yaml
  catalog-4-17/bundles/bundle-v0.13.2.yaml
  catalog-4-18/bundles/bundle-v0.13.2.yaml
  catalog-4-19/bundles/bundle-v0.13.2.yaml
  catalog-4-20/bundles/bundle-v0.13.2.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Revert "Stage release v0.13.2 (rc3) (#90)"
  catalog-4-14/bundles/bundle-v0.13.2.yaml
  catalog-4-14/channels/channel-stable-0.13.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.13.2.yaml
  catalog-4-15/channels/channel-stable-0.13.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.13.2.yaml
  catalog-4-16/channels/channel-stable-0.13.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.13.2.yaml
  catalog-4-17/channels/channel-stable-0.13.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.13.2.yaml
  catalog-4-18/channels/channel-stable-0.13.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.13.2.yaml
  catalog-4-19/channels/channel-stable-0.13.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.13.2.yaml
  catalog-4-20/channels/channel-stable-0.13.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

revert previous v0.13.2 rc bundles and add rc5
  catalog-4-14/bundles/bundle-v0.13.2.yaml
  catalog-4-14/channels/channel-stable-0.13.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.13.2.yaml
  catalog-4-15/channels/channel-stable-0.13.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.13.2.yaml
  catalog-4-16/channels/channel-stable-0.13.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.13.2.yaml
  catalog-4-17/channels/channel-stable-0.13.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.13.2.yaml
  catalog-4-18/channels/channel-stable-0.13.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.13.2.yaml
  catalog-4-19/channels/channel-stable-0.13.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.13.2.yaml
  catalog-4-20/channels/channel-stable-0.13.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

use official registry.redhat.io fbc base img locations
  .tekton/volsync-fbc-4-20-dev-pull-request.yaml
  .tekton/volsync-fbc-4-20-dev-push.yaml
  .tekton/volsync-fbc-4-20-pull-request.yaml
  .tekton/volsync-fbc-4-20-push.yaml
  .tekton/volsync-fbc-4-21-dev-pull-request.yaml
  .tekton/volsync-fbc-4-21-dev-push.yaml
  .tekton/volsync-fbc-4-21-pull-request.yaml
  .tekton/volsync-fbc-4-21-push.yaml
  .tekton/volsync-fbc-4-22-dev-pull-request.yaml
  .tekton/volsync-fbc-4-22-dev-push.yaml
  catalog.Dockerfile
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Red Hat Konflux update volsync-fbc-4-22
  .tekton/volsync-fbc-4-22-pull-request.yaml
  .tekton/volsync-fbc-4-22-push.yaml
Due: none

update 4-22 fbc tekton files
  .tekton/volsync-fbc-4-22-pull-request.yaml
  .tekton/volsync-fbc-4-22-push.yaml
Due: none

use official registry.redhat.io fbc base img locations
  .tekton/volsync-fbc-4-22-pull-request.yaml
  .tekton/volsync-fbc-4-22-push.yaml
Due: none

Stage release v0.15.0 (rc4)
  catalog-4-14/bundles/bundle-v0.15.0.yaml
  catalog-4-14/channels/channel-stable-0.15.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.15.0.yaml
  catalog-4-15/channels/channel-stable-0.15.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.15.0.yaml
  catalog-4-16/channels/channel-stable-0.15.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.15.0.yaml
  catalog-4-17/channels/channel-stable-0.15.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.15.0.yaml
  catalog-4-18/channels/channel-stable-0.15.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.15.0.yaml
  catalog-4-19/channels/channel-stable-0.15.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.15.0.yaml
  catalog-4-20/channels/channel-stable-0.15.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.15.0.yaml
  catalog-4-21/channels/channel-stable-0.15.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.15.0.yaml
  catalog-4-22/channels/channel-stable-0.15.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-22/package.yaml
  catalog-template.yaml
  catalog.Dockerfile
  drop-versions.json
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Stage release v0.15.0 (rc4) (#101)
  catalog-4-14/bundles/bundle-v0.15.0.yaml
  catalog-4-14/channels/channel-stable-0.15.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.15.0.yaml
  catalog-4-15/channels/channel-stable-0.15.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.15.0.yaml
  catalog-4-16/channels/channel-stable-0.15.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.15.0.yaml
  catalog-4-17/channels/channel-stable-0.15.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.15.0.yaml
  catalog-4-18/channels/channel-stable-0.15.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.15.0.yaml
  catalog-4-19/channels/channel-stable-0.15.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.15.0.yaml
  catalog-4-20/channels/channel-stable-0.15.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.15.0.yaml
  catalog-4-21/channels/channel-stable-0.15.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.15.0.yaml
  catalog-4-22/channels/channel-stable-0.15.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-22/package.yaml
  catalog-template.yaml
  catalog.Dockerfile
  drop-versions.json
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Add image mirror for volsync 0.16
  .tekton/images-mirror-set.yaml
Due: none

Add image mirror for volsync 0.16 (#103)
  .tekton/images-mirror-set.yaml
Due: none

Dev stage release v0.16.0 (rc0)
  catalog-4-14/bundles/bundle-v0.16.0.yaml
  catalog-4-14/channels/channel-stable-0.16.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.16.0.yaml
  catalog-4-15/channels/channel-stable-0.16.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

v0.16.0 bundle for dev fbc stage release rc1
  catalog-4-14/bundles/bundle-v0.16.0.yaml
  catalog-4-14/channels/channel-stable-0.16.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.16.0.yaml
  catalog-4-15/channels/channel-stable-0.16.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

v0.16.0 bundle for dev fbc stage release rc1 (#104)
  catalog-4-14/bundles/bundle-v0.16.0.yaml
  catalog-4-14/channels/channel-stable-0.16.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.16.0.yaml
  catalog-4-15/channels/channel-stable-0.16.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Revert "v0.16.0 bundle for dev fbc stage release rc1 (#104)"
  catalog-4-14/bundles/bundle-v0.16.0.yaml
  catalog-4-14/channels/channel-stable-0.16.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.16.0.yaml
  catalog-4-15/channels/channel-stable-0.16.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Switch from drop into support versions
  build/add-bundle.sh
  build/generate-catalog-template.sh
  build/render-catalog.sh
  drop-versions.json
  supported-versions.json
Due: none

Add bundle 0.16 with updated script
  catalog-4-15/bundles/bundle-v0.16.0.yaml
  catalog-4-15/channels/channel-stable-0.16.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-template.yaml
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Switch from drop into support versions (#106)
  build/add-bundle.sh
  build/generate-catalog-template.sh
  build/render-catalog.sh
  drop-versions.json
  supported-versions.json
Due: none

Update README.md with introduced min-max support versions
  README.md
Due: none

Update README.md with introduced min-max support versions (#107)
  README.md
Due: none

Dev stage release v0.16.0 (rc2), excluding ocp 4.14, 4.15
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-template.yaml
  supported-versions.json
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Dev stage release v0.16.0 (rc2), excluding ocp 4.14, 4.15 (#109)
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-template.yaml
  supported-versions.json
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Add CI checks for catalog-template.yaml and bundle image validation
  .github/workflows/validate-catalogs.yaml
  .tekton/volsync-fbc-validate-bundle-images-dev-pull-request.yaml
  .tekton/volsync-fbc-validate-bundle-images-pull-request.yaml
  build/validate-bundle-images.sh
Due: none

Add GitHub Actions workflow to validate catalog directories
  .github/workflows/validate-catalogs.yaml
Due: none

Add Tekton pipelines for bundle image validation with IDMS mirror fallback
  .tekton/volsync-fbc-validate-bundle-images-dev-pull-request.yaml
  .tekton/volsync-fbc-validate-bundle-images-pull-request.yaml
  build/validate-bundle-images.sh
Due: none

Run bundle image validation on every PR, not just specific file changes
  .tekton/volsync-fbc-validate-bundle-images-dev-pull-request.yaml
  .tekton/volsync-fbc-validate-bundle-images-pull-request.yaml
Due: none

Add CI checks for catalog-template.yaml and bundle image validation (#111)
  .github/workflows/validate-catalogs.yaml
  .tekton/volsync-fbc-validate-bundle-images-dev-pull-request.yaml
  .tekton/volsync-fbc-validate-bundle-images-pull-request.yaml
  build/validate-bundle-images.sh
Due: none

Stage release v0.14.2 (rc0)
  catalog-4-14/bundles/bundle-v0.14.2.yaml
  catalog-4-14/channels/channel-stable-0.14.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.14.2.yaml
  catalog-4-15/channels/channel-stable-0.14.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.14.2.yaml
  catalog-4-16/channels/channel-stable-0.14.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.14.2.yaml
  catalog-4-17/channels/channel-stable-0.14.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.14.2.yaml
  catalog-4-18/channels/channel-stable-0.14.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.14.2.yaml
  catalog-4-19/channels/channel-stable-0.14.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.14.2.yaml
  catalog-4-20/channels/channel-stable-0.14.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.14.2.yaml
  catalog-4-21/channels/channel-stable-0.14.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Path conditions:
  volsync-fbc-4-14-on-pull-request: (((any of: .tekton/volsync-fbc-4-14-pull-request.yaml) or (any of: .tekton/volsync-fbc-4-14-push.yaml)) or (any of: catalog.Dockerfile)) or (any of: catalog-4-14/***)
  volsync-fbc-4-14-on-push: (((any of: .tekton/volsync-fbc-4-14-pull-request.yaml) or (any of: .tekton/volsync-fbc-4-14-push.yaml)) or (any of: catalog.Dockerfile)) or (any of: catalog-4-14/***)
  volsync-fbc-4-16-on-push: (((any of: .tekton/volsync-fbc-4-16-pull-request.yaml) or (any of: .tekton/volsync-fbc-4-16-push.yaml)) or (any of: catalog.Dockerfile)) or (any of: catalog-4-16/***)
  volsync-fbc-4-18-dev-on-pull-request: (((any of: .tekton/volsync-fbc-4-18-dev-pull-request.yaml) or (any of: .tekton/volsync-fbc-4-18-dev-push.yaml)) or (any of: catalog.Dockerfile)) or (any of: catalog-4-18/***)
