Repository stolostron/volsync-operator-product-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Path conditions:
  volsync-fbc-4-14-on-pull-request: (((any of: .tekton/volsync-fbc-4-14-pull-request.yaml) or (any of: .tekton/volsync-fbc-4-14-push.yaml)) or (any of: catalog.Dockerfile)) or (any of: catalog-4-14/***)
  volsync-fbc-4-14-on-push: (((any of: .tekton/volsync-fbc-4-14-pull-request.yaml) or (any of: .tekton/volsync-fbc-4-14-push.yaml)) or (any of: catalog.Dockerfile)) or (any of: catalog-4-14/***)
  volsync-fbc-4-16-on-push: (((any of: .tekton/volsync-fbc-4-16-pull-request.yaml) or (any of: .tekton/volsync-fbc-4-16-push.yaml)) or (any of: catalog.Dockerfile)) or (any of: catalog-4-16/***)
  volsync-fbc-4-18-dev-on-pull-request: (((any of: .tekton/volsync-fbc-4-18-dev-pull-request.yaml) or (any of: .tekton/volsync-fbc-4-18-dev-push.yaml)) or (any of: catalog.Dockerfile)) or (any of: catalog-4-18/***)

Stage release v0.14.2 (rc0)
  catalog-4-14/bundles/bundle-v0.14.2.yaml
  catalog-4-14/channels/channel-stable-0.14.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.14.2.yaml
  catalog-4-15/channels/channel-stable-0.14.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.14.2.yaml
  catalog-4-16/channels/channel-stable-0.14.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.14.2.yaml
  catalog-4-17/channels/channel-stable-0.14.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.14.2.yaml
  catalog-4-18/channels/channel-stable-0.14.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.14.2.yaml
  catalog-4-19/channels/channel-stable-0.14.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.14.2.yaml
  catalog-4-20/channels/channel-stable-0.14.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.14.2.yaml
  catalog-4-21/channels/channel-stable-0.14.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Stage release v0.14.2 (rc0) (#113)
  catalog-4-14/bundles/bundle-v0.14.2.yaml
  catalog-4-14/channels/channel-stable-0.14.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.14.2.yaml
  catalog-4-15/channels/channel-stable-0.14.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.14.2.yaml
  catalog-4-16/channels/channel-stable-0.14.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.14.2.yaml
  catalog-4-17/channels/channel-stable-0.14.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.14.2.yaml
  catalog-4-18/channels/channel-stable-0.14.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.14.2.yaml
  catalog-4-19/channels/channel-stable-0.14.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.14.2.yaml
  catalog-4-20/channels/channel-stable-0.14.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.14.2.yaml
  catalog-4-21/channels/channel-stable-0.14.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Stage release v0.14.2 (rc0) (#113) (#114)
  catalog-4-14/bundles/bundle-v0.14.2.yaml
  catalog-4-14/channels/channel-stable-0.14.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.14.2.yaml
  catalog-4-15/channels/channel-stable-0.14.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.14.2.yaml
  catalog-4-16/channels/channel-stable-0.14.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.14.2.yaml
  catalog-4-17/channels/channel-stable-0.14.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.14.2.yaml
  catalog-4-18/channels/channel-stable-0.14.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.14.2.yaml
  catalog-4-19/channels/channel-stable-0.14.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.14.2.yaml
  catalog-4-20/channels/channel-stable-0.14.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.14.2.yaml
  catalog-4-21/channels/channel-stable-0.14.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Revert "Stage release v0.14.2 (rc0) (#113) (#114)"
  catalog-4-14/bundles/bundle-v0.14.2.yaml
  catalog-4-14/channels/channel-stable-0.14.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.14.2.yaml
  catalog-4-15/channels/channel-stable-0.14.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.14.2.yaml
  catalog-4-16/channels/channel-stable-0.14.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.14.2.yaml
  catalog-4-17/channels/channel-stable-0.14.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.14.2.yaml
  catalog-4-18/channels/channel-stable-0.14.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.14.2.yaml
  catalog-4-19/channels/channel-stable-0.14.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.14.2.yaml
  catalog-4-20/channels/channel-stable-0.14.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.14.2.yaml
  catalog-4-21/channels/channel-stable-0.14.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Stage release v0.14.2 (rc1)
  catalog-4-14/bundles/bundle-v0.14.2.yaml
  catalog-4-14/channels/channel-stable-0.14.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.14.2.yaml
  catalog-4-15/channels/channel-stable-0.14.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.14.2.yaml
  catalog-4-16/channels/channel-stable-0.14.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.14.2.yaml
  catalog-4-17/channels/channel-stable-0.14.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.14.2.yaml
  catalog-4-18/channels/channel-stable-0.14.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.14.2.yaml
  catalog-4-19/channels/channel-stable-0.14.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.14.2.yaml
  catalog-4-20/channels/channel-stable-0.14.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.14.2.yaml
  catalog-4-21/channels/channel-stable-0.14.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

FBCs for upcoming release v0.14.2 (rc1 build) (#115)
  catalog-4-14/bundles/bundle-v0.14.2.yaml
  catalog-4-15/bundles/bundle-v0.14.2.yaml
  catalog-4-16/bundles/bundle-v0.14.2.yaml
  catalog-4-17/bundles/bundle-v0.14.2.yaml
  catalog-4-18/bundles/bundle-v0.14.2.yaml
  catalog-4-19/bundles/bundle-v0.14.2.yaml
  catalog-4-20/bundles/bundle-v0.14.2.yaml
  catalog-4-21/bundles/bundle-v0.14.2.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Revert "FBCs for upcoming release v0.14.2 (rc1 build) (#115)"
  catalog-4-14/bundles/bundle-v0.14.2.yaml
  catalog-4-15/bundles/bundle-v0.14.2.yaml
  catalog-4-16/bundles/bundle-v0.14.2.yaml
  catalog-4-17/bundles/bundle-v0.14.2.yaml
  catalog-4-18/bundles/bundle-v0.14.2.yaml
  catalog-4-19/bundles/bundle-v0.14.2.yaml
  catalog-4-20/bundles/bundle-v0.14.2.yaml
  catalog-4-21/bundles/bundle-v0.14.2.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

v0.14.2 fbc updates (using rc2 build)
  catalog-4-14/bundles/bundle-v0.14.2.yaml
  catalog-4-14/channels/channel-stable-0.14.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.14.2.yaml
  catalog-4-15/channels/channel-stable-0.14.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.14.2.yaml
  catalog-4-16/channels/channel-stable-0.14.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.14.2.yaml
  catalog-4-17/channels/channel-stable-0.14.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.14.2.yaml
  catalog-4-18/channels/channel-stable-0.14.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.14.2.yaml
  catalog-4-19/channels/channel-stable-0.14.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.14.2.yaml
  catalog-4-20/channels/channel-stable-0.14.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.14.2.yaml
  catalog-4-21/channels/channel-stable-0.14.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Stage release v0.15.1 (rc1)
  catalog-4-14/bundles/bundle-v0.15.1.yaml
  catalog-4-14/channels/channel-stable-0.15.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.15.1.yaml
  catalog-4-15/channels/channel-stable-0.15.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.15.1.yaml
  catalog-4-16/channels/channel-stable-0.15.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.15.1.yaml
  catalog-4-17/channels/channel-stable-0.15.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.15.1.yaml
  catalog-4-18/channels/channel-stable-0.15.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.15.1.yaml
  catalog-4-19/channels/channel-stable-0.15.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.15.1.yaml
  catalog-4-20/channels/channel-stable-0.15.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.15.1.yaml
  catalog-4-21/channels/channel-stable-0.15.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.15.1.yaml
  catalog-4-22/channels/channel-stable-0.15.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Stage release v0.15.1 (rc1) (#117)
  catalog-4-14/bundles/bundle-v0.15.1.yaml
  catalog-4-14/channels/channel-stable-0.15.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.15.1.yaml
  catalog-4-15/channels/channel-stable-0.15.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.15.1.yaml
  catalog-4-16/channels/channel-stable-0.15.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.15.1.yaml
  catalog-4-17/channels/channel-stable-0.15.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.15.1.yaml
  catalog-4-18/channels/channel-stable-0.15.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.15.1.yaml
  catalog-4-19/channels/channel-stable-0.15.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.15.1.yaml
  catalog-4-20/channels/channel-stable-0.15.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.15.1.yaml
  catalog-4-21/channels/channel-stable-0.15.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.15.1.yaml
  catalog-4-22/channels/channel-stable-0.15.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Add script for fbc snapshot generation
  gen-fbc-snapshot.sh
Due: none

Add script for fbc snapshot generation (#118)
  gen-fbc-snapshot.sh
Due: none

testing
  catalog-4-14/bundles/bundle-v0.16.0.yaml
  catalog-4-14/channels/channel-stable-0.16.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.16.0.yaml
  catalog-4-15/channels/channel-stable-0.16.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Dev stage release v0.16.0 (rc3), excluding ocp 4.14, 4.15
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-template.yaml
  supported-versions.json
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Red Hat Konflux update volsync-fbc-4-23-dev
  .tekton/volsync-fbc-4-23-dev-pull-request.yaml
  .tekton/volsync-fbc-4-23-dev-push.yaml
Due: none

update 4-23 fbc dev tekton files
  .tekton/volsync-fbc-4-23-dev-pull-request.yaml
  .tekton/volsync-fbc-4-23-dev-push.yaml
Due: none

Red Hat Konflux update volsync-fbc-4-23
  .tekton/volsync-fbc-4-23-pull-request.yaml
  .tekton/volsync-fbc-4-23-push.yaml
Due: none

update 4-23 fbc tekton files
  .tekton/volsync-fbc-4-23-pull-request.yaml
  .tekton/volsync-fbc-4-23-push.yaml
Due: none

Dev stage release v0.16.0 (rc4), excl4.14, 4.15, incl 4.23
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-23/bundles/bundle-v0.16.0.yaml
  catalog-4-23/channels/channel-stable-0.16.yaml
  catalog-4-23/channels/channel-stable.yaml
  catalog-4-23/package.yaml
  catalog-template.yaml
  supported-versions.json
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Dev stage release v0.16.0 (rc5), excl4.14, 4.15, incl 4.23
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-23/bundles/bundle-v0.16.0.yaml
  catalog-4-23/channels/channel-stable-0.16.yaml
  catalog-4-23/channels/channel-stable.yaml
  catalog-4-23/package.yaml
  catalog-template.yaml
  supported-versions.json
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Dev stage release v0.16.0 (rc5), excl4.14, 4.15, incl 4.23 (#127)
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-23/bundles/bundle-v0.16.0.yaml
  catalog-4-23/channels/channel-stable-0.16.yaml
  catalog-4-23/channels/channel-stable.yaml
  catalog-4-23/package.yaml
  catalog-template.yaml
  supported-versions.json
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Add snapshot script docs and pre-flight cluster check
  README.md
  gen-fbc-snapshot.sh
Due: none

Add snapshot script docs and pre-flight cluster check (#128)
  README.md
  gen-fbc-snapshot.sh
Due: none

Stage release v0.16.0 (rc8), excl4.14, 4.15, incl 4.23
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-23/bundles/bundle-v0.16.0.yaml
  catalog-4-23/channels/channel-stable-0.16.yaml
  catalog-4-23/channels/channel-stable.yaml
  catalog-4-23/package.yaml
  catalog-template.yaml
  supported-versions.json
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Stage release v0.16.0 (rc8), excl4.14, 4.15, incl 4.23 (#129)
  catalog-4-16/bundles/bundle-v0.16.0.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.0.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.0.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.0.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.0.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.0.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.0.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-23/bundles/bundle-v0.16.0.yaml
  catalog-4-23/channels/channel-stable-0.16.yaml
  catalog-4-23/channels/channel-stable.yaml
  catalog-4-23/package.yaml
  catalog-template.yaml
  supported-versions.json
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

chore: onboard repository to Fleet Engineering Agentic SDLC
  CLAUDE.md
Due: none

chore: onboard repository to Fleet Engineering Agentic SDLC (#130)
  CLAUDE.md
Due: none

fix: harden validate-catalogs workflow against token exfiltration
  .github/workflows/validate-catalogs.yaml
Due: none

fix: allow checkout of fork PR code with v7 safety guard
  .github/workflows/validate-catalogs.yaml
Due: none

Stage release v0.15.2 (rc0)
  catalog-4-14/bundles/bundle-v0.15.2.yaml
  catalog-4-14/channels/channel-stable-0.15.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.15.2.yaml
  catalog-4-15/channels/channel-stable-0.15.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.15.2.yaml
  catalog-4-16/channels/channel-stable-0.15.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.15.2.yaml
  catalog-4-17/channels/channel-stable-0.15.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.15.2.yaml
  catalog-4-18/channels/channel-stable-0.15.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.15.2.yaml
  catalog-4-19/channels/channel-stable-0.15.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.15.2.yaml
  catalog-4-20/channels/channel-stable-0.15.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.15.2.yaml
  catalog-4-21/channels/channel-stable-0.15.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.15.2.yaml
  catalog-4-22/channels/channel-stable-0.15.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Stage release v0.15.2 (rc0) (#134)
  catalog-4-14/bundles/bundle-v0.15.2.yaml
  catalog-4-14/channels/channel-stable-0.15.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.15.2.yaml
  catalog-4-15/channels/channel-stable-0.15.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.15.2.yaml
  catalog-4-16/channels/channel-stable-0.15.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.15.2.yaml
  catalog-4-17/channels/channel-stable-0.15.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.15.2.yaml
  catalog-4-18/channels/channel-stable-0.15.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.15.2.yaml
  catalog-4-19/channels/channel-stable-0.15.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.15.2.yaml
  catalog-4-20/channels/channel-stable-0.15.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.15.2.yaml
  catalog-4-21/channels/channel-stable-0.15.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.15.2.yaml
  catalog-4-22/channels/channel-stable-0.15.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Dev Stage release v0.15.2 (rc1)
  catalog-4-14/bundles/bundle-v0.15.2.yaml
  catalog-4-14/channels/channel-stable-0.15.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.15.2.yaml
  catalog-4-15/channels/channel-stable-0.15.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.15.2.yaml
  catalog-4-16/channels/channel-stable-0.15.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.15.2.yaml
  catalog-4-17/channels/channel-stable-0.15.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.15.2.yaml
  catalog-4-18/channels/channel-stable-0.15.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.15.2.yaml
  catalog-4-19/channels/channel-stable-0.15.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.15.2.yaml
  catalog-4-20/channels/channel-stable-0.15.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.15.2.yaml
  catalog-4-21/channels/channel-stable-0.15.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.15.2.yaml
  catalog-4-22/channels/channel-stable-0.15.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Dev Stage release v0.15.2 (rc1) (#135)
  catalog-4-14/bundles/bundle-v0.15.2.yaml
  catalog-4-14/channels/channel-stable-0.15.yaml
  catalog-4-14/channels/channel-stable.yaml
  catalog-4-15/bundles/bundle-v0.15.2.yaml
  catalog-4-15/channels/channel-stable-0.15.yaml
  catalog-4-15/channels/channel-stable.yaml
  catalog-4-16/bundles/bundle-v0.15.2.yaml
  catalog-4-16/channels/channel-stable-0.15.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.15.2.yaml
  catalog-4-17/channels/channel-stable-0.15.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.15.2.yaml
  catalog-4-18/channels/channel-stable-0.15.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.15.2.yaml
  catalog-4-19/channels/channel-stable-0.15.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.15.2.yaml
  catalog-4-20/channels/channel-stable-0.15.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.15.2.yaml
  catalog-4-21/channels/channel-stable-0.15.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.15.2.yaml
  catalog-4-22/channels/channel-stable-0.15.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Stage release v0.16.1 (rc0)
  catalog-4-16/bundles/bundle-v0.16.1.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.1.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.1.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.1.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.1.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.1.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.1.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-23/bundles/bundle-v0.16.1.yaml
  catalog-4-23/channels/channel-stable-0.16.yaml
  catalog-4-23/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Stage release v0.16.1 (rc0) (#136)
  catalog-4-16/bundles/bundle-v0.16.1.yaml
  catalog-4-16/channels/channel-stable-0.16.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.16.1.yaml
  catalog-4-17/channels/channel-stable-0.16.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.16.1.yaml
  catalog-4-18/channels/channel-stable-0.16.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.16.1.yaml
  catalog-4-19/channels/channel-stable-0.16.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.16.1.yaml
  catalog-4-20/channels/channel-stable-0.16.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.16.1.yaml
  catalog-4-21/channels/channel-stable-0.16.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.16.1.yaml
  catalog-4-22/channels/channel-stable-0.16.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-23/bundles/bundle-v0.16.1.yaml
  catalog-4-23/channels/channel-stable-0.16.yaml
  catalog-4-23/channels/channel-stable.yaml
  catalog-template.yaml
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

update 5.0 fbc dev tekton files
  .tekton/volsync-fbc-5-0-dev-pull-request.yaml
  .tekton/volsync-fbc-5-0-dev-push.yaml
Due: none
