Repository stolostron/volsync-operator-product-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: volsync-fbc-4-14-on-pull-request, volsync-fbc-4-14-on-push, volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Path conditions:
  volsync-fbc-4-14-on-pull-request: (((any of: .tekton/volsync-fbc-4-14-pull-request.yaml) or (any of: .tekton/volsync-fbc-4-14-push.yaml)) or (any of: catalog.Dockerfile)) or (any of: catalog-4-14/***)
  volsync-fbc-4-14-on-push: (((any of: .tekton/volsync-fbc-4-14-pull-request.yaml) or (any of: .tekton/volsync-fbc-4-14-push.yaml)) or (any of: catalog.Dockerfile)) or (any of: catalog-4-14/***)
  volsync-fbc-4-16-on-push: (((any of: .tekton/volsync-fbc-4-16-pull-request.yaml) or (any of: .tekton/volsync-fbc-4-16-push.yaml)) or (any of: catalog.Dockerfile)) or (any of: catalog-4-16/***)
  volsync-fbc-4-18-dev-on-pull-request: (((any of: .tekton/volsync-fbc-4-18-dev-pull-request.yaml) or (any of: .tekton/volsync-fbc-4-18-dev-push.yaml)) or (any of: catalog.Dockerfile)) or (any of: catalog-4-18/***)

update 5.0 fbc tekton files
  .tekton/volsync-fbc-5-0-pull-request.yaml
  .tekton/volsync-fbc-5-0-push.yaml
Due: none

Stage release v0.17.0 (rc0), incl ocp 5.0, excl 4.16 and less
  catalog-4-17/bundles/bundle-v0.17.0.yaml
  catalog-4-17/channels/channel-stable-0.17.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.17.0.yaml
  catalog-4-18/channels/channel-stable-0.17.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.17.0.yaml
  catalog-4-19/channels/channel-stable-0.17.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.17.0.yaml
  catalog-4-20/channels/channel-stable-0.17.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.17.0.yaml
  catalog-4-21/channels/channel-stable-0.17.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.17.0.yaml
  catalog-4-22/channels/channel-stable-0.17.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-23/bundles/bundle-v0.17.0.yaml
  catalog-4-23/channels/channel-stable-0.17.yaml
  catalog-4-23/channels/channel-stable.yaml
  catalog-5-0/bundles/bundle-v0.17.0.yaml
  catalog-5-0/channels/channel-stable-0.17.yaml
  catalog-5-0/channels/channel-stable.yaml
  catalog-5-0/package.yaml
  catalog-template.yaml
  supported-versions.json
Due: volsync-fbc-4-18-dev-on-pull-request

Stage release v0.17.0 (rc0), incl ocp 5.0
  catalog-4-16/bundles/bundle-v0.17.0.yaml
  catalog-4-16/channels/channel-stable-0.17.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.17.0.yaml
  catalog-4-17/channels/channel-stable-0.17.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.17.0.yaml
  catalog-4-18/channels/channel-stable-0.17.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.17.0.yaml
  catalog-4-19/channels/channel-stable-0.17.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.17.0.yaml
  catalog-4-20/channels/channel-stable-0.17.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.17.0.yaml
  catalog-4-21/channels/channel-stable-0.17.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.17.0.yaml
  catalog-4-22/channels/channel-stable-0.17.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-23/bundles/bundle-v0.17.0.yaml
  catalog-4-23/channels/channel-stable-0.17.yaml
  catalog-4-23/channels/channel-stable.yaml
  catalog-5-0/bundles/bundle-v0.17.0.yaml
  catalog-5-0/channels/channel-stable-0.17.yaml
  catalog-5-0/channels/channel-stable.yaml
  catalog-5-0/package.yaml
  catalog-template.yaml
  supported-versions.json
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request

Add image mirror for volsync 0.17
  .tekton/images-mirror-set.yaml
Due: none

Add image mirror for volsync 0.17 (#141)
  .tekton/images-mirror-set.yaml
Due: none

Stage dev release v0.17.0 (rc1), incl ocp 5.0
  catalog-4-16/bundles/bundle-v0.17.0.yaml
  catalog-4-16/channels/channel-stable-0.17.yaml
  catalog-4-16/channels/channel-stable.yaml
  catalog-4-17/bundles/bundle-v0.17.0.yaml
  catalog-4-17/channels/channel-stable-0.17.yaml
  catalog-4-17/channels/channel-stable.yaml
  catalog-4-18/bundles/bundle-v0.17.0.yaml
  catalog-4-18/channels/channel-stable-0.17.yaml
  catalog-4-18/channels/channel-stable.yaml
  catalog-4-19/bundles/bundle-v0.17.0.yaml
  catalog-4-19/channels/channel-stable-0.17.yaml
  catalog-4-19/channels/channel-stable.yaml
  catalog-4-20/bundles/bundle-v0.17.0.yaml
  catalog-4-20/channels/channel-stable-0.17.yaml
  catalog-4-20/channels/channel-stable.yaml
  catalog-4-21/bundles/bundle-v0.17.0.yaml
  catalog-4-21/channels/channel-stable-0.17.yaml
  catalog-4-21/channels/channel-stable.yaml
  catalog-4-22/bundles/bundle-v0.17.0.yaml
  catalog-4-22/channels/channel-stable-0.17.yaml
  catalog-4-22/channels/channel-stable.yaml
  catalog-4-23/bundles/bundle-v0.17.0.yaml
  catalog-4-23/channels/channel-stable-0.17.yaml
  catalog-4-23/channels/channel-stable.yaml
  catalog-5-0/bundles/bundle-v0.17.0.yaml
  catalog-5-0/channels/channel-stable-0.17.yaml
  catalog-5-0/channels/channel-stable.yaml
  catalog-5-0/package.yaml
  catalog-template.yaml
  supported-versions.json
Due: volsync-fbc-4-16-on-push, volsync-fbc-4-18-dev-on-pull-request
